*{
    list-style: none;
    text-decoration: none;
}
.show_book_all_detail{
    position: absolute;
    left:40%;
    right:40%;
    width:500px;
    height:300px;
    border: 1px solid gray;
}
.close_window{
    width:100%;
    height:20px;
    background: gray;
}
.close_window span{
    margin-top:-2px;
    font-size:20px;
    height:20px;
    float:right;
    cursor:pointer;
    border:1px solid black;
}


/*日志start by 2015-5-31*/
#log_title ul li{
    float:left;
    margin-left: 10px;
}

/*书本内容管理 start by 2015-6-1*/
.book_content tr td{
    text-align: center;
}
.book_content tr td a{
    color:#060;
}
.book_content tr td a i{
    color:gray;
}
#show_chapter_content{
    width:900px;
    font-size:16px;
    border:1px solid #D8D8D8;
    min-height:800px;
    line-height: 30px;
    margin-top:10px;
}